name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: |
          if [ -f package.json ] && npm run | grep -q "lint"; then
            npm run lint
          else
            echo "No lint script defined, skipping"
          fi
      - name: Test
        run: |
          if [ -f package.json ] && npm run | grep -q "test"; then
            npm test --if-present
          else
            echo "No test script defined, skipping"
          fi
